body {
    font-family: 'Roboto', sans-serif;
}

.hero, .footer {
    background-color: #1f2937;
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text, .header {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}


.button, .call-to-action {
    background-color: #1f2937;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}


